.foot .footer-head-list-item {
  font-size: 18px;
  font-weight: bolder;
}

.foot {
  background-color: #4b656f;
  display: flex;
  justify-content: center;
  bottom: 0;
}
.foot ul {
  list-style: none;
  padding-right: 40px;
}
.foot li {
  text-align: left;
  padding-top: 10px;
}
.foot a {
  text-decoration: none;
  color: #ffff;
}
.foot a:hover {
  color: #ffff;
}
