body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
}

header {
  position: initial;
  background: #022b3a;
  width: 100%;
}
header::after {
  content: "";
  display: table;
  clear: both;
}
.menu {
  margin: 0 auto;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
}

.hello {
  flex-grow: 2;
}

#logo {
  float: left;
  margin: 14px 40px;
}
#logo a {
  text-decoration: none;
  color: #ffff;
  font-size: 30px;
}
#logo a:hover {
  color: crimson;
}
#logo a {
  text-decoration: none;
}

nav {
  height: 60px;
  display: flex;
  align-items: center;
}
nav .logo-wrapper {
  display: inline-block;
}
nav .menu {
  list-style: none;
  margin: 0;
  padding: 0;
  height: inherit;
  position: inherit;
}
nav .menu-item {
  height: 100%;
  text-align: center;
  margin-right: 15px;
}
nav a {
  text-decoration: none;
  color: #ffff;
}

.menu-wrapper {
  height: inherit;
}

.menu-item,
.submenu-item {
  display: flex;
  width: 120px;
  height: inherit;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.nav-wrapper nav .menu-item:hover {
  background: #e1e5f2;
}
.nav-wrapper nav .menu-item:hover a {
  color: #131212;
}
.submenu {
  display: none;
}
header .nav-wrapper nav .menu-item:hover .submenu {
  display: block;
  position: absolute;
  background: #f3f3f3;
  padding: 0;
  height: 40px;
  margin-top: 80px;
  margin-left: 0;
}
header .nav-wrapper nav .menu-item:hover .submenu .submenu-item {
  display: block;
  text-align: center;
  font-size: 12px;
  background: #f3f3f3;
  height: 40px;
  padding-top: 8px;
}
header .nav-wrapper nav .menu-item:hover .submenu li a {
  color: #242222;
}
@media only screen and (max-width: 1050px) {
  nav {
    height: 80px;
    font-size: 24px;
    overflow: hidden;
    overflow-x: scroll;
  }

  .menu-item,
  .submenu-item {
    width: 140px;
  }

  header .nav-wrapper nav .menu-item:hover .submenu {
    margin-top: 120px;
  }
}
